<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 order-2">
      <div class="container-fluid margin-bottom-1">
        <div class="row">
          <div class="col-12">
            <app-image-uploader></app-image-uploader>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="container-fluid mb-2 pb-2" style="border-bottom: 1px solid mediumseagreen;">
              <div class="row text-center justify-content-center">
                <div class="col-12 p-0" >
                  <button class="btn btn-block btn-success"
                          routerLink="../invite">ارسال دعوتنامه<i class="fa fa-plus" style="margin: 0px 2px;"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="media" style="border-bottom: 1px solid mediumseagreen; margin-bottom: 6px;">
              <img src="../../../../../assets/image/person/avatar-64.png">
              <div class="media-body">
                <h4>علیرضا حاتمی
                  <button class="btn btn-link nounderline p-0" style="color: red; padding: 0px; font-size: 30px;">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="media" style="border-bottom: 1px solid mediumseagreen; margin-bottom: 6px;">
              <img src="../../../../../assets/image/person/avatar-64.png">
              <div class="media-body">
                <h4>علیرضا حاتمی
                  <button class="btn btn-link nounderline p-0" style="color: red; padding: 0px; font-size: 30px;">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="media" style="border-bottom: 1px solid mediumseagreen; margin-bottom: 6px;">
              <img src="../../../../../assets/image/person/avatar-64.png">
              <div class="media-body">
                <h4>علیرضا حاتمی
                  <button class="btn btn-link nounderline p-0" style="color: red; padding: 0px; font-size: 30px;">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="media" style="border-bottom: 1px solid mediumseagreen; margin-bottom: 6px;">
              <img src="../../../../../assets/image/person/avatar-64.png">
              <div class="media-body">
                <h4>علیرضا حاتمی
                  <button class="btn btn-link nounderline p-0" style="color: red; padding: 0px; font-size: 30px;">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="media" style="border-bottom: 1px solid mediumseagreen; margin-bottom: 6px;">
              <img src="../../../../../assets/image/person/avatar-64.png">
              <div class="media-body">
                <h4>علیرضا حاتمی
                  <button class="btn btn-link nounderline p-0" style="color: red; padding: 0px; font-size: 30px;">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="media" style="border-bottom: 1px solid mediumseagreen; margin-bottom: 6px;">
              <img src="../../../../../assets/image/person/avatar-64.png">
              <div class="media-body">
                <h4>علیرضا حاتمی
                  <button class="btn btn-link nounderline p-0" style="color: red; padding: 0px; font-size: 30px;">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="media" style="border-bottom: 1px solid mediumseagreen; margin-bottom: 6px;">
              <img src="../../../../../assets/image/person/avatar-64.png">
              <div class="media-body">
                <h4>علیرضا حاتمی
                  <button class="btn btn-link nounderline p-0" style="color: red; padding: 0px; font-size: 30px;">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="media" style="border-bottom: 1px solid mediumseagreen; margin-bottom: 6px;">
              <img src="../../../../../assets/image/person/avatar-64.png">
              <div class="media-body">
                <h4>علیرضا حاتمی
                  <button class="btn btn-link nounderline p-0" style="color: red; padding: 0px; font-size: 30px;">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 order-1">
      <div class="container-fluid margin-bottom-1">
        <div class="row">
          <div class="col-12">
            <div class="container-fluid mb-2 pb-2" style="border-bottom: 1px solid mediumseagreen;">
              <div class="row text-center justify-content-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0" *ngIf="!viewType">
                  <button class="btn btn-warning btn-block "
                          (click)="viewType = true">ویرایش</button>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 p-0" *ngIf="viewType">
                  <button class="btn btn-block btn-success"
                          style="border-bottom-left-radius: 0px; border-top-left-radius: 0px;"
                          (click)="viewType = !viewType">ثبت</button>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 p-0" *ngIf="viewType">
                  <button class="btn btn-block btn-danger"
                          style="border-bottom-right-radius: 0px; border-top-right-radius: 0px;"
                          (click)="viewType = !viewType">انصراف
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12">
            <app-admin-view *ngIf="!viewType"></app-admin-view>
            <app-admin-edit *ngIf="viewType"></app-admin-edit>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
