<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-2">
      <ul class="list-group" *ngIf="groupName">
<!--        [routerLink]="['group-dashboard/' + groupName]"-->
        <a class="list-group-item disabled" style="background-color: #ff8377">
          {{groupName}}
        </a>
        <a href="#"
           class="list-group-item list-group-item-action"
           [routerLink]="['group-dashboard']"
           [routerLinkActive]="'item-active'">اطلاعات</a>
        <a href="#"
           class="list-group-item list-group-item-action"
           [routerLink]="['invite']"
           [routerLinkActive]="'item-active'">ارسال دعوتنامه<!--<i class="fa fa-plus" style="margin: 0px 2px;"></i>-->
        </a>
        <a href="#"
           class="list-group-item list-group-item-action disabled"
           [routerLink]="['current-event']"
           [routerLinkActive]="'item-active'">رویداد جاری</a>
        <a href="#"
           class="list-group-item list-group-item-action disabled"
           [routerLink]="['chronicle']"
           [routerLinkActive]="'item-active'">تاریخچه</a>
      </ul>
    </div>
    <div class="col-12 col-md-12 col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
