<div class="grid-container">
  <div class="grid-x">
    <div class="cell medium-6 large-6">
      <h3>ارتباط با ما</h3>
      <p>جهت آشنایی با ما و روش تدریس ما لطفا در سایت ثبت نام کرده و سپس فرم اطلاعات را تکمیل نمایید. از همکاری شما سپاسگزاریم.</p>
    </div>
    <div class="cell medium-6 large-6">
      <form action="#" method="post">
        <label>ایمیل
          <input type="email" placeholder="your-mail@provider.domain">
        </label>
        <label>
          گذرواژه
          <input type="password" placeholder="******">
        </label>
        <label>
          تکرار گذرواژه
          <input type="password" placeholder="******">
        </label>
        <input type="submit" class="button expanded" value="Submit">
        <input type="reset" class="button expanded" value="Reset" />
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
