<div class="overlay" *ngIf="showSpinner$ | async">
  <div class="center" [ng2-loading]="showSpinner$ | async"></div>
</div>

<!--<app-topbar></app-topbar>-->
<div #topbar>
  <app-topbar></app-topbar>
</div>
<!--<app-user-view-pannel *ngIf="me$ | async" ></app-user-view-pannel>-->

<div class="container-fluid p-0 m-0">
  <div class="row p-0 m-0"
       style="background-color: inherit;"
       [style.height.px]="topHeight"
       *ngIf="topHeight">
    <div class="col-12" >&nbsp;</div>
  </div>
  <div class="row p-0 m-0">
    <div class="col-12 p-0" #content>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row p-0 m-0"
       style="background-color: inherit;"
       [style.height.px]="topHeight"
       *ngIf="topHeight">
    <div class="col-12">&nbsp;</div>
  </div>
</div>

<div #footbar>
  <app-footbar></app-footbar>
</div>

<!--<router-outlet></router-outlet>-->

<!--<app-footbar></app-footbar>-->
