<div class="grid-container fluid margin-vertical-3">
  <div class="grid-x grid-margin-x align-center-middle margin-vertical-3" id="identification">
    <div class="cell medium-4 margin-vertical-1"
         style="border: 1px solid; border-radius: 5px; border-color: #757575">
      <app-login></app-login>
    </div>
    <div class="cell medium-4 margin-vertical-1"
         style="border: 1px solid; border-radius: 5px; border-color: #757575">
      <app-signup></app-signup>
    </div>
  </div>
</div>

<!--<app-security></app-security>-->
