<footer class="piana-responsive-footer">
  <div class="grid-x">
    <div class="large-4 cell">
      <h5>اتحادیه فوتبال آزاد!</h5>
      <p>دیده شوید ! مطرح شوید ! همبازی شوید ! رقابت کنید !   سن و سال اهمیت ندارد. ما آماده ایم که به فوتبال شور و هیجان تزریق کنیم و فرصت ستاره شدن را در اختیار تمامی فوتبالیست های گمنام قرار دهیم. هدف اتحادیه آزاد فوتبال رهانیدن فوتبال از دست انحصار طلبان است.</p>
    </div>
    <div class="large-3 large-offset-2 cell">
      <ul class="menu vertical">
        <li><button class="button clear large">آشنایی با ما</button></li>
        <li><button class="button clear large">ارتباط با ما</button></li>
        <li><button class="button clear large">قوانین سایت</button></li>
        <li><button class="button clear large">پرسش و پاسخ</button></li>
      </ul>
    </div>
    <div class="large-3 cell">
      <ul class="menu vertical">
        <li><button class="button clear large">تیم ها</button></li>
        <li><button class="button clear large">فوتبالیست ها</button></li>
        <li><button class="button clear large">داوران</button></li>
        <li><button class="button clear large">کارشناسان</button></li>
      </ul>
    </div>
  </div>
</footer>
