<div class="container-fluid text-center text-md-left mt-5" style="background-color: #68d261">
  <div class="row pt-5 pb-5">
    <div class="col-12 col-sm-12 col-md-4">
      <h5>اتحادیه فوتبال آزاد!</h5>
      <p>دیده شوید ! مطرح شوید ! همبازی شوید ! رقابت کنید !   سن و سال اهمیت ندارد. ما آماده ایم که به فوتبال شور و هیجان تزریق کنیم و فرصت ستاره شدن را در اختیار تمامی فوتبالیست های گمنام قرار دهیم. هدف اتحادیه آزاد فوتبال رهانیدن فوتبال از دست انحصار طلبان است.</p>
    </div>
    <div class="col-12 col-sm-12 offset-md-1 col-md-3">
      <h5>ارتباط با ما</h5>
      <ul class="list-unstyled quick-links">
        <li><a >آشنایی با ما</a></li>
        <li><a >تماس با ما</a></li>
        <li><a >همکاری با ما</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-4">
      <h5>بیشتر بدانید</h5>
      <ul class="list-unstyled quick-links">
        <li><a >قوانین سایت</a></li>
        <li><a >پرسش و پاسخ</a></li>
        <li><a >راهنما</a></li>
      </ul>
    </div>
  </div>
</div>
