.list-group {
  text-align: center;
  margin-bottom: 16px;
}

.list-group-item {
  border: none !important;
  border-bottom: 1px solid greenyellow !important;
}

.item-active {
  background-color: #a5ff9d;
}
