<div class="container-fluid">
  <div class="row">
    <!--<div class="col-12 col-sm-12 col-md-3">
      &lt;!&ndash; Sidebar &ndash;&gt;
      <div class="list-group">
        <a href="#" *ngFor="let group of groups"
           routerLink="edit/{{group.name}}"
           class="list-group-item list-group-item-action" [routerLinkActive]="'item-active'">{{group.name}}</a>
        <a href="#"
           routerLink="create"
           class="list-group-item list-group-item-action" [routerLinkActive]="'item-active'">جدید</a>
&lt;!&ndash;        <a href="#"&ndash;&gt;
&lt;!&ndash;           routerLink="admin"&ndash;&gt;
&lt;!&ndash;           class="list-group-item list-group-item-action" [routerLinkActive]="'item-active'">ویرایش</a>&ndash;&gt;
      </div>
    </div>-->
    <div class="col-12 col-sm-12 col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
