<div class="grid-container">
  <!-- <p>{{(me$ | async)?.email}}</p>-->
  <!-- <p>{{(me$ | async)?.role}}</p>-->
  <!-- <p>{{(me$ | async)?.rule}}</p>-->
  <div class="grid-x">
    <div class="small-12 medium-12 cell small-order-2 medium-order-1">
      <div class="cell medium-12 text-center login-box-title">ثبت نام</div>
      <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
        <div class="grid-y" style="height: 280px;">
          <div class="cell small-4 medium-4">
            <label for="lbl-email" class="text-right login-control-title"><i class="fa fa-asterisk" style="color: #ff0000;"></i> ایمیل</label>
            <input id="lbl-email" formControlName="email"
                   [style.background-color]="userForm.get('email').invalid ? '#FF6377' : '#CFFFA9'"
                   type="email" name="email"/>
          </div>
          <div class="cell small-4 medium-4">
            <label for="lbl-password" class="text-right login-control-title"><i class="fa fa-asterisk" style="color: #ff0000;"></i> گذرواژه</label>
            <input id="lbl-password" formControlName="password"
                   [style.background-color]="userForm.get('password').invalid ? '#FF6377' : '#CFFFA9'"
                   type="password" name="password" />
          </div>
          <div class="cell small-4 medium-4">
            <label for="lbl-confirm" class="text-right login-control-title"><i class="fa fa-asterisk" style="color: #ff0000;"></i> تکرار گذرواژه</label>
            <input id="lbl-confirm"
                   [style.background-color]="userForm.get('confirmPassword').invalid ? '#FF6377' : '#CFFFA9'"
                   formControlName="confirmPassword" type="password" name="password2" />
          </div>
        </div>
        <div class="grid-x">
          <div class="cell">
            <button class="button expanded success login-control-title" type="submit"
                    [disabled]="userForm.invalid">ثبت نام</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

