<!DOCTYPE HTML>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PianaTech</title>

    <!--    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>-->
    <!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->

    <link rel="stylesheet" href="lib/foundation/6.5.1-rtl/css/foundation.min.css"/>
    <link rel="stylesheet" href="lib/foundation/6.5.1-rtl/css/app.css"/>
</head>

<body>
<div class="container">
    <div class="grid-x">
        <div class="cell medium-6 large-4">
            <h3>ارتباط با ما</h3>
            <p>جهت آشنایی با ما و روش تدریس ما لطفا در سایت ثبت نام کرده و سپس فرم اطلاعات را تکمیل نمایید. از همکاری شما سپاسگزاریم.</p>
        </div>
        <div class="cell medium-6 large-4">
<!--            <form action="#" th:action="@{/guest/signup}" th:object="${signupDto}" method="post">-->
                <label>کد شش رقمی
                    <input type="email" placeholder="123456">
                </label>
                <input type="submit" class="button expanded" value="Submit">
                <input type="reset" class="button expanded" value="Reset" />
<!--            </form>-->
        </div>
    </div>
</div>
<script src="lib/foundation/6.5.1-rtl/js/vendor/jquery.js"></script>
<script src="lib/foundation/6.5.1-rtl/js/vendor/foundation.min.js"></script>
<script src="lib/foundation/6.5.1-rtl/js/app.js"></script>

</body>
</html>