<!--<p>{{(tokenRequiredDto$ | async)?.tokenType}}</p>-->
<!--<p>{{(tokenRequiredDto$ | async)?.tokenAction}}</p>-->
<!--<p>{{(tokenRequiredDto$ | async)?.message}}</p>-->
<!--<p>{{(me$ | async)?.email}}</p>-->
<!--<p>{{(me$ | async)?.role}}</p>-->
<!--<p>{{(me$ | async)?.rule}}</p>-->
<div class="container-fluid">
  <div class="row" >
    <div class="col-12 col-sm-12 col-md-6 offset-md-3 order-2 order-sm-2 order-md-1">
      <form [formGroup]="verifyForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group" style="height: 80px;">
          <label for="lbl-code">کد 6 رقمی</label>
          <input id="lbl-code" class="form-control" formControlName="code"
                 type="text">
        </div>
        <button type="submit" class="btn btn-block btn-outline-success"
                type="submit" [disabled]="verifyForm.invalid">تایید</button>
      </form>
    </div>
  </div>
</div>
<!--      <p>{{(me$ | async)?.email}}</p>-->
<!--      <p>{{(me$ | async)?.role}}</p>-->
<!--      <p>{{(me$ | async)?.rule}}</p>-->
