<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-sm-12 col-md-12 col-large-12 order-sm-2 order-md-1">
      <div class="container-fluid">
        <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
          <div class="form-group">
            <label for="lbl-mobile" class="text-right login-control-title">
              <i class="fa fa-asterisk" style="color: #ff0000;"></i> موبایل
            </label>
            <input id="lbl-mobile" formControlName="mobile" class="form-control"
                   [style.background-color]="loginForm.get('mobile').invalid ? '#ffc0cd' : '#CFFFA9'"
                   type="text" name="mobile"/>
          </div>
          <div class="form-group">
            <label for="lbl-password" class="text-right login-control-title"><i class="fa fa-asterisk" style="color: #ff0000;"></i> گذرواژه</label>
            <input id="lbl-password" class="form-control" formControlName="password"
                   [style.background-color]="loginForm.get('password').invalid ? '#ffc0cd' : '#CFFFA9'"
                   type="password" name="password" />
          </div>
          <button class="btn btn-block btn-outline-success" type="submit"
                        [disabled]="loginForm.invalid">ورود</button>
        </form>
      </div>
    </div>
  </div>
</div>

