<nav class="navbar navbar-expand justify-content-between navbar-inverse navbar-light bg-light mb-2"
     style="background-color: #68d261 !important;">
  <div class="container-fluid">
    <img class="navbar-brand" src="../../../../assets/image/logo/logo-text-128x32.png" alt="">
    <div class="navbar-collapse collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav" *ngIf="me$ | async">
        <li class="nav-item"><app-inviter></app-inviter></li>
        <li class="nav-item" *ngIf="me$ | async">
          <a href="#" class="nav-link"
             [routerLink]="['setting']"
             title="تنظیمات">
            <span class="fa fa-lg fa-cog"></span>
          </a>
        </li>
        <li class="nav-item" *ngIf="me$ | async">
          <a href="#" class="nav-link"
             [routerLink]="['dashboard']"
             title="داشبورد">
            <span class="fa fa-lg fa-users"></span>
          </a>
        </li>
        <li class="nav-item" *ngIf="me$ | async">
          <a href="#" class="nav-link" (click)="onExitClick()" title="خروج">
            <span class="fa fa-lg fa-sign-out-alt"></span>
          </a>
        </li>
      <!--      <li class="nav-item"><a class="nav-link" routerLink="/group/create">ثبت گروه</a></li>-->
      </ul>
    </div>
  </div>
</nav>

    <!--<div class="top-bar" id="responsive-menu">-->
<!--  <div class="top-bar-left">-->
<!--    <ul class="dropdown menu">-->
<!--      <li class="menu-text">اتحادیه فوتبال آزاد</li>-->
<!--      <li><a (click)="onExitClick()">خروج</a></li>-->
<!--      <li><a routerLink="/authentication">احراز هویت</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="top-bar-right">-->
<!--    <ul class="dropdown menu" data-dropdown-menu>-->
<!--      <li>-->
<!--        <a routerLink="/group/create">ثبت گروه</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <app-inviter></app-inviter>-->
<!--      </li>-->
<!--      <li><a href="#">Five</a></li>-->
<!--      <li><a href="#">Six</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
